.navbar__container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 200px;
  height: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #ffc423;
  color: #000;
  // position: fixed;
  // top: 120px;
}

.navbar__btn {
  display: none;
}

.navbar__container__logo {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  padding-top: 30px;
  box-sizing: border-box;
}
.navbar__container__logo img {
  width: 120px;
  height: 90px;
}
.navbar__container__textarea {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}
.navbar__container__textarea div {
  display: flex;
  width: 100%;
  height: 50px;
  gap: 0.5rem;
  align-items: center;
  justify-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
}
.navbar__container__textarea div:hover {
  background: #006993;
  color: #fff;
}

@media (max-width: 600px) {
  .navbar__container {
    display: none;
  }
  .navbar__mobile {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 50px;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #ffc423;
    color: #000;
    transition: width 2s linear ease-in;
    position: absolute;
    z-index: 1;
  }

  .navbar__container__textarea div > span:last-child {
    display: none;
  }

  .navbar__btn {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 99;
  }

  .navbar__container__logo img {
    width: 50px;
    height: 30px;
  }
}
