@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "MTNBrighterSans-Medium";
  src: url("https://mtnonline.com/smartanalytics/assets/assets/fonts/MTNBrighterSans-Medium.eot");
  src: url("https://mtnonline.com/smartanalytics/assets/assets/fonts/MTNBrighterSans-Medium.woff")
    format("woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: 'Gothic A1', sans-serif;
  // font-family: MTNBrighterSans-Medium;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
