.screen1__container {
  width: 100%;
  height: 100vh;
}
.screen2__container {
  width: 100%;
  height: 100vh;
}
.screen3__container {
  width: 100%;
  height: 100vh;
}

.screen1__container form {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  height: 70%;
}
// .screen2__container form {
//   width: 70%;
//   margin: 20px auto;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 2px;
//   height: 100%;
// }
.screen3__container form {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  height: 100%;
}

.job__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  height: 40%;
  width: 100%;
}

.job__label {
  border-radius: 50px;
  width: 90%;
  height: 120px;
  background: rgba(196, 196, 196, 0.33);
  padding: 20px 40px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input__details {
  width: 100%;
  grid-gap: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  // padding: 5px;
}
.input__details input[type="text"] {
  border-radius: 100px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  height: 50px;
  padding-left: 20px;
}

.job__info {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  margin: 10px auto;
  overflow-y: scroll;
}

:root {
  --select-border: rgba(0, 0, 0, 0.31);
  --select-focus: rgba(255, 196, 35, 1);
  --select-arrow: var(--select-border);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
select::-ms-expand {
  display: none;
}

.select {
  width: 350px;
  margin-top: 20px;
  // min-width: 15ch;
  // max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 100px;
  padding-left: 20px;
  position: relative;
  padding-right: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: inherit;
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

.nav__buttons {
  width: 40%;
  display: flex;
  // grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 5px;
  height: 10%;
  right: 200px;
}
.nav__buttons button {
  height: 50px;
  border-radius: 100px;
  color: #000;
  border: none;
  outline: none;
  width: 160px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
}
.nav__buttons .btn {
  height: 50px;
  border-radius: 100px;
  color: #000;
  border: none;
  outline: none;
  width: 160px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
button a {
  height: 50px;
  border-radius: 100px;
  color: #000;
  border: none;
  outline: none;
  width: 180px;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  cursor: pointer;
}

.nobackground__button {
  background: none;
}
.nobackground__button a {
  color: inherit;
  text-decoration: none;
}
.filled__button {
  background: rgba(255, 196, 35, 1);
  box-sizing: border-box;
  padding: 5px;
}
.filled__button a {
  color: inherit;
  text-decoration: none;
}

.gridItem {
  display: grid;
  grid-template-columns: 1fr;
  height: 60%;
}

.space__gap {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding: 5px 15px;
  margin-top: 20px;
}

.input__options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input__options div {
  margin: 5px 0px;
}

.selectedResponse {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(255, 196, 35, 1);
}

@media screen and (max-width: 768px) {
  .nav__buttons {
    bottom: -100px;
  }
  .job__info {
    grid-template-columns: 1fr;
    margin-right: 30px;
  }
  .screen1__container form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 60%;
  }
}
@media screen and (max-width: 992px) {
  .nav__buttons {
    bottom: -100px;
  }

  .job__info {
    grid-template-columns: 1fr;
    margin-right: 30px;
  }

  .screen1__container form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 60%;
  }
}
