.modal__container {
  display: flex;
  grid-gap: 20px;
  align-self: flex-end;
}
.modal__container button {
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  background: #c4c4c4;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 25vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.container h3 {
  font-size: 18px;
}
